li.row {
    margin-left:0px;
    margin-right: 0px;
    padding-left:15px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom: 5px;
}

li.row.default{
    line-height: 0px;
    height: auto ;
    min-height: 20px;
    border:1px dashed #336699;
    text-align: center;
}

li.row.highLight{
    min-height: 38px;
    line-height: 0px;
    height: auto;
    border:1px dashed #f54747;
}

li.row .drag-wrapper{
    display: inline-block;
    margin-right:20px;
    margin-left:20px;
}

li.row .properties{
    font-size:1.4em;
    margin-left:10px;
}
li.row .properties:hover{
    color:#006600;
    cursor: pointer;
}