.wrapper {
    padding:15px 15px 20px 15px;
    border:1px dashed #eee;
    position: relative;
}

.wrapper.hover{
    border:1px dashed #00f;
}

.wrapper .selected-overlay-button-quick-add-new {
    width: 1.3em;
    height: 1.3em;
}

.wrapper .selected-overlay-button-edit{
    width:1.3em;
    height:1.3em;
}

.wrapper .selected-overlay-button-copy-paste{
    width:1.3em;
    height:1.3em;
}

.wrapper .selected-overlay-button-before-after{
    width:1.3em;
    height:1.3em;
}

.wrapper .selected-overlay-button span:hover{
    color:#00f;
    cursor:pointer;
}