.operation .add {
    background-image: url("../../build/images/add.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-left:auto;
    margin-right: auto;
}

.operation .minus {
    background-image: url("../../build/images/defult.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    margin-left:auto;
    margin-right: auto;
}